<footer>
    <div [@animateFooter]>
        <ul class="footer-left-bar d-none d-md-block">
            <li>
                <a (click)='analyticsService.sendAnalyticEvent("click_github", "footer", "github")'
                    href="https://github.com/Mosenith" target='_blank'>
                    <i class="fab fa-github"></i>
                </a>
            </li>
            <li>
                <a (click)='analyticsService.sendAnalyticEvent("click_linkedin", "footer", "linkedin")'
                    href="https://www.linkedin.com/in/mosenith-heang/" target='_blank'>
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </li>
        </ul>
        <div class="footer-right-bar d-none d-md-block">
            <a (click)='analyticsService.sendAnalyticEvent("click_send_mail", "footer", "email")'
                href="mailto:heangmosenith3@gmail.com" target='_blank'>heangmosenith3@gmail.com</a>
        </div>
    </div>

    <div class="footer-credits text-center">
        <a (click)='analyticsService.sendAnalyticEvent("click_github_portfolio_mosenith", "footer", "click")'
            href="https://github.com/Mosenith" target="_blank" rel="nofollow noopener noreferrer">
            <div>Made by Mosenith Heang</div>
        </a>
        <br>
        <a (click)='analyticsService.sendAnalyticEvent("click_linkedin_portfolio_mosenith", "footer", "click")'
            href="https://github.com/mufeez1" target="_blank" rel="nofollow noopener noreferrer">
            <div>Designed by Brittany Chiang & Jośe Andreś & Muffeez Khalid</div>
        </a>
    </div>
</footer>